@font-face {
  font-family: gameFont;
  src: url('../fonts/PressStart2P.ttf');
}
*{
  box-sizing: border-box;
}

body{
  background-image: url('../image/background.jpg');
  background-size: cover;
}

.main-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main-titulo{
  font-family: gameFont;
  font-size: 3em;
  color: #DCFF0E;
  width: 100%;
}

.panel-tablero{
  width: 70%;
  border: 10px solid #E87306;
  background: rgba(232, 115, 6, 0.5);
  border-radius: 5px;
  height: 700px;
  display: flex;
  flex-flow: row wrap;
}

.panel-score{
  width: 25%;
  height: 700px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


.score, .moves, .time{
  text-align: center;
  height: 23%;
  width: 100%;
  border: 10px solid #E87306;
  border-radius: 5px;
  background: rgba(232, 115, 6, 0.5);
}


.buttons{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.data-titulo, .data-info{
  font-family: gameFont;
  color: #E8CA06;
}
.titulo-over{
  font-family: gameFont;
  font-size: 3em;
  text-align: center;
  color: #DCFF0E;
}
.btn-reinicio{
  background: #E8CA06;
  border: 6px solid #FFB206;
  border-radius: 5px;
  font-family: gameFont;
  font-size: 1.2em;
  color: #FF4007;
}
.btn-reinicio:hover{
  color: #fff;
  cursor: pointer;
}
.btn-reinicio:active{
  font-size: 1em;
}
.data-info{
  font-size: 1.8em;
}
div[class^='col']{
  width: 14.28%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;

}

.elemento{
  width:  99.4px;
  height: 96px;

}

.panel-score {
  transition: width 1s ease-in-out;
}
.panel-tablero{
  /*transition: width 1s ease-in-out;*/
}

.animacion {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.main-titulo {
  animation-name: titulo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:titulo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-moz-keyframes titulo{
  0% { color: #DCFF0E; }
  50% { color: #fff; }
  100% { color: #DCFF0E; }
}

@-webkit-keyframes titulo {
  0% { color: #DCFF0E; }
  50% { color: #fff; }
  100% { color: #DCFF0E; }
}

@keyframes titulo {
  0% { color: #DCFF0E; }
  50% { color: #fff; }
  100% { color: #DCFF0E; }
}
